@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

:root {
  --primary-color: #fbcdb6;
  --secondary-color: #FF7835;
  --secondary-text-color: #FF6E25;
  --strong-primary: #FE7F69;
  --circle-color: #FFB629;
}

@font-face {
  font-family: "Consolas";
  src: url(./font/Consolas.ttf);
}

* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  padding: 3vh 6vw;
  background-image: url(./public/fundo.png);
  height: 94vh;
  width: calc(100% - 12vw);
  overflow: clip;
  position: relative;
}

hr {
  border: 1px solid black;
}

#loading {
  display: flex;
  flex-direction: column;
}

#loading div {
  height: 50vh;
  width: 100%;
  transition: 1.25s;
  background-color: var(--primary-color);
}

#loading span {
  font-family: "JetBrains Mono", serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.12px;
  padding-bottom: 1vh;
  padding-right: 10%;
  transition: 1.25s;
}

#loading-two {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  position: absolute;
  bottom: 0;
  right: 0;
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#menu img {
  width: 26px;
  height: 26px;
}

#menu-tab img {
  width: 40px;
  height: 40px;
}

#menu-tab {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

#menu-tab span {
  font-family: "JetBrains Mono";
  font-weight: 700;
  font-size: 20px;
  line-height: 26.4px;
}

#presentation {
  margin-top: 7vh;
}

#presentation div {
  background-color: black;
  padding: 10px 30px;
  color: white;
  width: 200px;
  display: flex;
  flex-direction: row;
  border-radius: 13px;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#circle {
  height: 18px;
  width: 18px;
  background-color: var(--circle-color);
  border-radius: 50%;
  display: inline-block;
}

#presentation h3 {
  font-family: "Consolas";
  font-size: 16px;
  font-weight: 400;
  line-height: 18.73px;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

#presentation h1 {
  font-family: "Clash Grotesk";
  font-size: 90px;
  font-weight: 700;
  line-height: 110.7px;
  letter-spacing: 0.02em;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 5vh;
}

#presentation h4 {
  font-family: "Roboto Flex";
  font-size: 20px;
  font-weight: 300;
  line-height: 23.44px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

#language {
  display: flex;
  position: fixed;
  width: 140px;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  background-color: black;
  border-radius: 0 100px 100px 0;
  padding: 25px;
  bottom: 10%;
  left: -70px;
  transition: 0.40s;
  cursor: pointer;
  z-index: 2;
}

#language:hover {
  left: 0;
}

#language span {
  font-family: "JetBrains Mono";
  font-size: 16px;
  font-weight: 200;
  line-height: 21.12px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
}

#language svg {
  color: var(--primary-color);
  transition: 0.40s;
}

#language:hover > svg {
  color: var(--secondary-color);
}

#projects {
  transform: rotate(-2deg);
  position: absolute;
  bottom: 0;
  right: 0;
}

#projects h2 {
  font-family: "JetBrains Mono";
  font-size: 20px;
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--strong-primary);
}

#projects h3 {
  font-family: "JetBrains Mono";
  font-size: 14px;
  font-weight: 200;
  line-height: 18.48px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
}

#projects h4 {
  font-family: "JetBrains Mono";
  font-size: 20px;
  font-weight: 700;
  line-height: 26.4px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
}

.card {
  border-radius: 16px;
  background-image: linear-gradient(103.05deg, rgba(255, 255, 255, 0.4) 0%, #000000 100%);
}

.card figure {
  border-radius: 16px;
  width: 300px;
  height: 450px;
  padding: 16px;
  margin: 1px;
  background-position: center;
  background-size: 250%;
}

#cards {
  display: flex;
  flex-direction: row;
}

#galeria {
  background-image: url(./public/galeria.png);
  background-size: 300%;
}

#design-system {
  background-image: url(./public/pixelUI.jpg);
  background-size: 200%;
}

#design-system-card {
  transform: translate(-10px, 20px);
}

main {
  background-color: var(--primary-color);
  text-align: center;
  padding: 6vh 6vw;
  display: flex;
  flex-direction: column;
  gap: 8vh;
}

#job-description h1 {
  font-family: "Clash Grotesk";
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

#job-description span {
  font-weight: 700;
}

#game-dev {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 50vh);
  align-items: center;
  justify-content: center;
  gap: 0;
}

.grid figure {
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px solid black;
  overflow: hidden;
}
 
figure img {
  width: 100%;
  height: 100%;
  scale: 1.15;
  object-fit: cover;
}

.grid figcaption {
  position: absolute;
  top: 16px;
  left: 8px;
}

#selected-projects {
  font-family: "Clash Grotesk";
  font-size: 70px;
  font-weight: 600;
  line-height: 86.1px;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.in-progress {
  filter: grayscale(100%);
}

figcaption h1 {
  color: var(--secondary-text-color);
  font-family: "Clash Grotesk";
  font-size: 40px;
  font-weight: 700;
  line-height: 49.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

figcaption h2 {
  font-family: "JetBrains Mono";
  font-size: 14px;
  font-weight: 200;
  line-height: 18.48px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

footer {
  height: 100vh;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10vh;
}

footer h1 {
  font-family: "Clash Grotesk";
  font-size: 170px;
  font-weight: 600;
  line-height: 209.1px;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--primary-color);
}

#email a {
  font-family: "Clash Grotesk";
  font-size: 20px;
  font-weight: 400;
  line-height: 24.6px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--primary-color);
}

#email {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}

footer a {
  text-decoration: none;
  color: transparent;
}

#reverse-icon {
  transform: rotate(-180deg);
}